@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');





/*  */
/* GLOBAL */
/*  */

body {
    color: darkslategray;
    background-color: rgb(60, 100, 50);;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2 {
    color: darkgreen;
    font-family: 'Patrick Hand', cursive;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

main {
    margin-top: 180px;
}



/* Footer */

footer {
    background-color: darkgreen;
    color: white;
    height: 30px;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
}

footer p {
    margin: 0;
}



/* Header */

header {
    position: fixed;
    background-color: whitesmoke;
    margin: 0;
    z-index: 10;
    width: 100%;
    top: 0;
}

header h1 {
    margin: 10px 0 0 100px;
    font-size: 3rem;
}

header p {
    margin: 0 0 0 100px;
}

header nav {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header nav a {
    background-color: darkgreen;
    color: mintcream;
    text-decoration: none;
    height: 30px;
    display: inline-block;
    margin: 0 2% 0 2%;
    width: 10%;
    min-width: 90px;
    padding: 5px;
    box-sizing: border-box;
}

#activenav {
    background-color: rgb(60, 100, 50);
}





/*  */
/* Homepage */
/*  */

/* Aboutbox */

#aboutbox {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
}

#aboutbox p {
    margin: 5px;
    color: white;
}



/* Infobox */

#infobox-container {
    width: 100%;
    height: 50vh;
    align-items: center;
    display: flex;
}

#infobox {
    width: 70vw;
    min-width: 504px;
    min-height: 180px;
    height: 25vw;
    background-color: beige;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 5vh;
}

#infobox h2 {
    margin: 0.5vw;
    font-size: 2vw;
}

#infobox p {
    margin: 0.5vw;
    font-size: 1.15vw;
}

#infobox a {
    color: rgb(100, 100, 100);
}

#infobox article {
    width: 70%;
    display: inline-block;
    height: 100%;
}

#infobox-container section aside {
    display: inline-block;
    position: absolute;
    height: 25vw;
    width: 25vw;
    min-height: 180px;
    min-width: 180px;
    right: 10vw;
    margin: -10px -10px 0 0;
    background-image: url('./img/Forside-hoejbed1.jpg');
    background-position: center;
    background-size: cover;
}



/* Newest plant box */

#feature-background-container {
    width: 100%;
    height: 100vh;
    padding: 20vh;
    box-sizing: border-box;
    background-image: url('./img/Forside-hoejbed2.jpg');
    background-position: center;
    background-size: cover;
    bordeR: solid black;
    border-width: 10px 0 0 0;
}

#newest-plants-container {
    text-align: center;
    padding: 15px;
    background-color: oldlace;
    width: 40%;
    margin: auto;
}

#newest-plants-container h3 {
    margin: 5px;
}

#newest-plants-container a {
    text-decoration: none;
    color: mediumseagreen;
}

#newest-plants-container a:visited {
    text-decoration: none;
    color: mediumseagreen;
}

#newest-plants-container ul li div {
    width: 90%;
    height: 82%;
    margin: auto;
}

#newest-plants-container ul li {
    display: inline-block;
    margin: 3px 5px;
    text-align: center;
    font-size: 16px;
    background-color: beige;
    width: 30%;
    height: 36vh;
}



/*  */
/* Plant info page */
/*  */

/* Plant name and headers */

.plantinfo-headers {
    width: 100%;
    background-color: beige;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.plantinfo-headers h2,.plantinfo-headers h3 {
    margin: 0;
}



/* Plant general info box */

.plantinfo-general {
    width: 95%;
    margin: auto;
    background-color: beige;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

#plantinfo-general-desc {
    width: 100%;
}

#plantinfo-general-fri,#plantinfo-general-for {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    background-color: antiquewhite;
}

#plantinfo-general-fri h4,#plantinfo-general-for h4 {
    margin: 5px;
}

#plantinfo-general-fri p,#plantinfo-general-for p {
    margin: 5px;
}



/* Plante detalje & billede box */

.plantinfo-details {
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
    background-color: beige;
    box-sizing: border-box;
}

#plantinfo-details-factbox {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 10px;
    box-sizing: border-box;
    width: 74%;
}

#plantinfo-details-factbox article {
    display: inline-block;
    background-color: antiquewhite;
    width: 25%;
    margin: 3px;
    vertical-align: top;
}

.plantinfo-details img {
    width: 15%;
    display: inline-block;
    vertical-align: bottom;
}

.plantinfo-details h6 {
    font-size: 1rem;
    margin: 10px;
}

.plantinfo-details p {
    margin: 10px;
}

.plantinfo-details p span {
    font-weight: bold;
}